

body{
    background-color: rgb(44, 41, 38);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    /* color: #fa923f; */
}
header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 24, 26);
    padding: 0 20px;
}
#logo {
    font-size: 30px;
    font-weight: bold;
    color: rgb(238, 164, 80);
    text-transform: uppercase;
    
}
header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}
header ul li{
    margin: 0 16px;
}



header nav a{
color:rgb(185,131,31) ;
font-size: 20px;
}
header nav a:hover{
    color:rgb(228, 163, 31) ;
 }

main h1{
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 48px;
}
#products{
   width: 80%; 
   margin: 50px auto;
}
#products ul{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 16px;
margin: 0;
padding: 0;
}
main ul li img{
width: 100%;
height: 240px;   
object-fit: cover;
}
.product{

    background-color: rgb(228, 206,182);
    border-radius: 6px ;
    overflow: hidden;
}
.foodContent{
    padding: 16px;
    text-align: center;
}
.btn{
    background-color:rgb(228,157 , 44) ;
    color: white;
    border-radius: 4px ;
    padding: 8px 24px;

}
.btn:hover{
    background-color:rgb(221,137 , 34) ;
}



